.card-custom {
  width: 60% !important;
}

.fs {
  font-size: 15px !important;
}

.border-custom {
  --color: black;
  --position: center bottom;
  --width: 100%;
  --height: 1px;
  background: linear-gradient(var(--color), var(--color)) var(--position) / var(--width) var(--height) no-repeat;
  padding-bottom: 10px;
  font: bold 2.5rem sans-serif;
}

body {
  background-color: #edf1f5;
  margin-top: 20px;
}

.card {
  margin-bottom: 30px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}

.card .card-subtitle {
  font-weight: 300;
  margin-bottom: 10px;
  color: #8898aa;
}

.table-product.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f3f8fa !important
}

.table-product td {
  border-top: 0px solid #dee2e6 !important;
  color: #728299 !important;
}

.header-details {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.details {
  margin: auto;
  width: 60%;
}